@using Kutuphane.Models.Entity
@model List<Transactions>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@*@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        <b>Aranacak kitap adı giriniz: </b>@Html.TextBox("search", ' ', new { @class = "form-control" })
    </div>
}*@

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>Zorunlu İade Tarihi</th>
        <th>İşlem</th>
    </tr>
    @foreach (Transactions result in Model)
    {
        <tr>
            <td>@result.Id</td>
            <td>@result.Books.Name</td>
            <td>@result.Members.Name @result.Members.Surname</td>
            <td>@result.Staff.NameSurname</td>
            <td>@Convert.ToDateTime(@result.PurchaseDate).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@result.ReturnDate).ToString("dd/MM/yyyy")</td>
            <td><a href="/Loans/LoanReturn/@result.Id" class="btn btn-group" style="background-color:#ff8500;color:white">Teslim et</a></td>
        </tr>
    }

</table>

