@model Kutuphane.Models.Entity.Transactions
@{
    ViewBag.Title = "LoanReturn";
    Layout = "~/Views/Shared/Layout.cshtml";
    int toValue;
}

@using (Html.BeginForm("LoanReturnUpdate", "Loans", FormMethod.Post))
{
    if (@ViewBag.toValue > 0)
    {
        toValue = (int)@ViewBag.toValue;
    }
    else
    {
        toValue = 0;
    }
    <div style="margin-top:15px"></div>
    <div class="form-group">
        <label><b>Id</b></label>
        @Html.TextBoxFor(p => p.Id, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label><b>Ad</b></label>
        @Html.TextBoxFor(p => p.Books.Name, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label><b>Üye</b></label>
        @Html.TextBoxFor(p => p.Members.Name, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label><b>Personel</b></label>
        @Html.TextBoxFor(p => p.Staff.NameSurname, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label><b>Alış tarihi</b></label>
        @Html.TextBoxFor(p => p.PurchaseDate, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label><b>Son iade tarihi</b></label>
        @Html.TextBoxFor(p => p.ReturnDate, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label><b>Üyenin iade ettiği tarih</b></label>
        <input type="text" readonly = "readonly" class="form-control" name="MemberReturnDate" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label><b>Son iade tarihi aşımı</b></label>
        <input type="text" readonly = "readonly" id="BeLate" value="@toValue Gün" class="form-control"/>
        
    </div>
    <div>
        <button class="btn btn-success">Kitabı geri al</button>
    </div>
}

