@model Kutuphane.Models.Entity.Transactions
@{
    ViewBag.Title = "LoanReturn";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("LoanReturnUpdate", "Loans", FormMethod.Post))
{
    <div style="margin-top:15px"></div>
    <div class="form-group">
        <label>Id</label>
        @Html.TextBoxFor(p => p.Id, new { @class = "form-control" })
        <br />
        <label>Ad</label>
        @Html.TextBoxFor(p => p.Books.Name, new { @class = "form-control" })
        <br />
        <label>Üye</label>
        @Html.TextBoxFor(p => p.Members.Name, new { @class = "form-control" })
        <br />
        <label>Personel</label>
        @Html.TextBoxFor(p => p.Staff.NameSurname, new { @class = "form-control" })
        <br />
        <label>Alış tarihi</label>
        @Html.TextBoxFor(p => p.PurchaseDate, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Son iade tarihi</label>
        @Html.TextBoxFor(p => p.ReturnDate, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        <br />
        <label>Üyenin iade ettiği tarih</label>
        <input type="text" class="form-control" name="MemberReturnDate" value="@DateTime.Now.ToShortDateString()" />
        <br />
        <label>Son iade tarihi aşımı</label>
        <input type="text" id="BeLate" value="@ViewBag.toValue" class="form-control"/>
        
    </div>
    <div>
        <button class="btn btn-success">Kitabı geri al</button>
    </div>
}

