@model Kutuphane.Models.Entity.Transactions
@{
    ViewBag.Title = "ToLend";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Üye Id</label>
        @Html.TextBoxFor(p => p.MemberId, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Id</label>
        @Html.TextBoxFor(p => p.BookId, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Personel Id</label>
        @Html.TextBoxFor(p => p.StaffId, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap alış tarihi</label>
        <input type="text" class="form-control" name="PurchaseDate" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <label>Kitap iade tarihi</label>
        <input type="text" class="form-control" name="ReturnDate" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success">Ödünç ver</button>
        <input type="hidden" name="Status" value="False" />
    </div>
</form>

