@model Kutuphane.Models.Entity.Transactions
@{
    ViewBag.Title = "ToLend";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label><b>Üye</b></label>
        @Html.DropDownListFor(p => p.Members.Id, (List<SelectListItem>)ViewBag.Members, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Kitap</b></label>
        @Html.DropDownListFor(p => p.Books.Id, (List<SelectListItem>)ViewBag.Books, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Personel</b></label>
        @Html.DropDownListFor(p => p.Staff.Id, (List<SelectListItem>)ViewBag.Staff, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Kitap alış tarihi</b></label>
        <input type="text" class="form-control" readonly="readonly" name="PurchaseDate" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <label><b>Kitap iade tarihi</b></label>
        <input type="text" class="form-control" readonly="readonly" name="ReturnDate" value="@DateTime.Now.AddDays(7).ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success">Ödünç ver</button>
        <input type="hidden" name="Status" value="False" />
    </div>
</form>

