@model Kutuphane.Models.Entity.Books
@{
    ViewBag.Title = "BookAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label><b>Kitap Ad</b></label>
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Kategori</b></label>
        @Html.DropDownListFor(p => p.Categories.Id, (List<SelectListItem>)ViewBag.result, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Yazar</b></label>
        @Html.DropDownListFor(p => p.Writers.Id, (List<SelectListItem>)ViewBag.result2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Basım yılı</b></label>
        @Html.TextBoxFor(p => p.Year, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Yayınevi</b></label>
        @Html.TextBoxFor(p => p.Publisher, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Sayfa sayısı</b></label>
        @Html.TextBoxFor(p => p.NumberOfPages, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label><b>Kitap Fotoğraf Linki</b></label>
        @Html.TextBoxFor(p => p.Image, new { @class = "form-control" })
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-success">Ekle</button>
    </div>
    <input type="hidden" name="Active" value="True" />
</form>

