@model Kutuphane.Models.Entity.Books
@{
    ViewBag.Title = "BookAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Kitap Ad</label>
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kategori</label>
        @Html.DropDownListFor(p => p.Categories.Id, (List<SelectListItem>)ViewBag.result, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar</label>
        @Html.DropDownListFor(p => p.Writers.Id, (List<SelectListItem>)ViewBag.result2, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Basım yılı</label>
        @Html.TextBoxFor(p => p.Year, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yayınevi</label>
        @Html.TextBoxFor(p => p.Publisher, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Sayfa sayısı</label>
        @Html.TextBoxFor(p => p.NumberOfPages, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Fotoğraf Linki</label>
        @Html.TextBoxFor(p => p.Image, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success">Ekle</button>
    </div>
    <input type="hidden" name="Active" value="True" />
</form>

