@using Kutuphane.Models.Entity
@model List<Notifications>
@{
    ViewBag.Title = "NotificationContent";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container" style="padding-top:200px; padding-bottom:200px">
    @foreach (Notifications result in Model)
    {
        <div class="card text-center">
            <div class="card-header">
                <img src="https://img.icons8.com/wired/40/000000/appointment-reminders.png" /><br />
                Id: @result.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@result.Category</h5>
                <p class="card-text">@result.NotificationContent</p>
            </div>
            <div class="card-footer text-muted">
                @Convert.ToDateTime(@result.Date).ToString("dd/MM/yyyy")
            </div>
        </div>
    }
</div>

