@using Kutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Transactions>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">Tüm Hareketler</h2>
<br />
@using (Html.BeginForm("Index", "Transactions", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Ara.." })
    </div>
}
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
    </tr>
    @foreach (Transactions result in Model)
    {
        <tr>
            <td>@result.Id</td>
            <td>@result.Books.Name</td>
            <td>@result.Members.Name @result.Members.Surname</td>
            <td>@result.Staff.NameSurname</td>
            <td>@Convert.ToDateTime(@result.PurchaseDate).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@result.MemberReturnDate).ToString("dd/MM/yyyy")</td>
        </tr>
    }

</table>
<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>