@using Kutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Writers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("Index", "Writers", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Yazar Ara.." })
    </div>
}
<button class="btn btn-outline-success btn-lg btn-block" data-toggle="modal" data-target="#Modal1">Yazar ekle</button>
<div class="container" style=" padding-top: 15px">
    <div class="row">
        @foreach (Writers result in Model)
        {
            <div class="col-3">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body text-dark" style="text-align:center">
                        <img src="https://img.icons8.com/pastel-glyph/40/000000/pencil--v1.png" />
                        <h5 class="card-title">@result.Name @result.Surname</h5>
                        <h6 class="card-subtitle mb-2 text-muted">id: @result.Id</h6>
                        <br />
                        <div>
                            <a href="/Writers/FetchWriter/@result.Id" class="btn btn-primary btn-sm">Güncelle</a>
                            @Html.ActionLink("Sil", "WriterDelete", new { id = result.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Silmek istiyor musunuz?')" })
                            <a href="/Writers/WriterBooks/@result.Id" style="color:white" class="btn btn-warning btn-sm">Kitapları</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yazar Ekleme Paneli</h2>
            </div>
            <form action="/Writers/WriterAdd/" method="post">
                <div class="modal-body">
                    <label><b>Yazar Ad</b></label>
                    <input type="text" name="Name" class="form-control"/>
                    <br />
                    <label><b>Yazar Soyad</b></label>
                    <input type="text" name="Surname" class="form-control" />
                    <br />
                    <label><b>Detay</b></label>
                    <input type="text" name="Detail" class="form-control" />
                    <br />
                    <div class="modal-footer">
                        <button class="btn btn-success">Ekle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

