@using Kutuphane.Models.Entity
@model List<Books>
@{
    ViewBag.Title = "WriterBooks";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 style="text-align:center">@ViewBag.NameSurname Kitapları</h2><br />
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Kitap Ad</th>
        <th>Kategori Ad</th>
        <th>Yayınevi</th>
        
    </tr>
    @foreach (Books result in Model)
    {
        <tr>
            <td>@result.Id</td>
            <td>@result.Name</td>
            <td>@result.Categories.Name</td>
            <td>@result.Publisher</td>
        </tr>
    }
</table>

