@using Kutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Admins>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("Index", "Settings", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px">
        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Admin Ara.." })
    </div>
}
<button class="btn btn-outline-success btn-lg btn-block" data-toggle="modal" data-target="#Modal1">Admin ekle</button>

<div class="container" style=" padding-top: 63px">
    <div class="row">
        @foreach (Admins result in Model)
        {
            <div class="col-4">
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-body text-dark" style="text-align:center">
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" />
                        <h5 class="card-title">@result.Mail</h5>
                        <h5 class="card-title">Yetki: @result.Authorize</h5>
                        <h6 class="card-subtitle mb-2 text-muted">id: @result.Id</h6>
                        <br />
                        <div>
                            <a href="~/Settings/FetchAdmin/@result.Id" class="btn btn-primary btn-sm">Güncelle</a>
                            @Html.ActionLink("Sil", "AdminDelete", new { id = result.Id }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Silmek istiyor musunuz?')" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Admin Ekleme Paneli</h2>
            </div>
            <form action="/Settings/NewAdmin/" method="post">
                <div class="modal-body">
                    <label><b>Admin Mail</b></label>
                    <input type="text" name="Mail" class="form-control" />
                    <br />
                    <label><b>Admin Şifre</b></label>
                    <input type="password" name="Password" class="form-control" />
                    <br />
                    <label><b>Admin Yetki</b></label>
                    <input type="text" name="Authorize" class="form-control" />
                    <br />
                    <button class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>


